.topnav {
  font-family: futura-pt, sans-serif;
  font-size: 18px;
  font-weight: 115;
  display: flex;
  gap: 1.5rem;
  width: 700px;
  padding: 15px;
  justify-content: left;
}

.titlename {
  font-family: futura-pt, sans-serif;
  font-size: 55px;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFFFFFF;
  color: #506BB4;
  text-align: center;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #506BB4;
  width: 45%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.title {
  font-family: futura-pt, sans-serif;
  font-size: 55px;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFFFFFF;
  color: #506BB4;
  text-align: center;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #506BB4;
  width: 45%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbuttons {
  flex: 1;
  background-color: #FFFFFFFF;
  color: #8497CB;
  border: 1.5px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out .1s;
}

.navbuttons:hover {
  background-color: #DB2054;
  color: #FFFFFFFF;
  opacity: 25%;
}

#profilepic {
  border: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.description {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 90;
  display: flex;
  width: 576px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  justify-content: center;
  padding: 0px;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-size: 47px;
  font-weight: 40;
  background-color: #FFFFFFFF;
  color: black;
  display: flex;
  margin-left: 0px;
  text-decoration: none;
  justify-content: center;
  margin-bottom: -2px;
}

h3 {
  font-family: futura-pt, sans-serif;
  font-size: 22px;
  font-weight: 40;
  background-color: #FFFFFFFF;
  color: black;
  display: flex;
  margin-left: -465px;
  text-decoration: none;
  justify-content: center;
  margin-bottom: -2px;
}

p {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 90;
  display: flex;
  width: 576px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  justify-content: center;
  padding: 0px;
}

button {
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    font-weight: 90;
    display: flex;
    width: 576px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    justify-content: center;
    padding: 0px;
  }

.assignments {
  font-family: futura-pt, sans-serif;
  font-size: 15px;
  font-weight: 90;
  display: flex;
  gap: 1.5rem;
  width: 37%;
  margin-top: -30px;
  margin-left: 235px;
  padding: 15px;
  text-decoration: none;
  justify-content: center;
}

.assignments:link {
  color: #082F96;
  background-color: #FFFFFFFF;
}

.assignments:hover {
  background-color: #FFFFFFFF;
  color: #DB2054;
}

.assignments:visited {
  background-color: #FFFFFFFF;
  color: #8497CB;
}

.email {
    font-family: futura-pt, sans-serif;
    font-size: 22px;
    font-weight: 40;
    background-color: #FFFFFFFF;
    color: black;
    display: flex;
    width: 1200px;
    text-decoration: none;
    justify-content: center;
    margin-top: 0px;
}

#photo {
  width: 22%;
  margin-left: 39%;
  padding-top: 2%;
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  div {
      display: flex;
      flex-flow: row wrap;
      background-color: #FFFFFFFF;
  }
}

@media screen and (min-width: 1900px) and (min-height: 1100px) {
  div {
      display: flex;
      flex-flow: row wrap;
      background-color: #FFFFFFFF;
  }
}
